
<tr id="doc-{{ doc.rkey }}" class="pds-row {{ doc.sync_meta.class }} htmx-swapping">
	<td>{{ doc.rkey }}</td>
	<td>{{ doc.publishedAt|date("M j, Y") }}</td>
	<td>{{ doc.title }}</td>
	<td>{{ doc.path }}</td>

{# Actions Column #}
	
   <div class="button-group">
	  <td>
	    <button data-hx-post="/atproto/dashboard/view/doc/{{ doc.rkey }}"
			data-hx-target="#pds-overlay-content"
				data-hx-swap="innerHTML"
				hx-on::after-request="document.getElementById('pds-overlay-backdrop').style.display='flex';"
				class="button--small">
		 View
		</button>
	</td>
	<td>	
		<button data-hx-post="/atproto/dashboard/render/doc/{{ doc.rkey }}"
				data-hx-target="#pds-overlay-content"
				data-hx-swap="innerHTML"
				hx-on::after-request="document.getElementById('pds-overlay-backdrop').style.display='flex';"
				class="button--small">
				Render
			</button>
	</td>
	<td>	
		<button data-hx-delete="/atproto/dashboard/delete/{{ doc.rkey }}"
            data-hx-target="#doc-{{ doc.rkey }}"
            data-hx-swap="outerHTML"
            data-hx-confirm="Delete from PDS?"
            class="button--danger button--small">
          Delete
        </button>
	</td>
  </div>
</tr>

