
<tr id="ride-{{ ride.rkey }}" class="pds-row {{ ride.sync_meta.class }} htmx-swapping">
	<td>{{ ride['$type'] }}</td>
	<td>{{ ride.rkey }}</td>
	<td>{{ ride.createdAt }}</td>
	<td>{{ ride.url }}</td>

{# Status Column 
	<td>
	  <span class="badge {{ ride.sync_meta.class }}">
		{{ ride.sync_meta.label }}
	  </span>
	</td>
</tr>
#}
{# Actions Column 
	<td>
	  <div class="button-group">
		{% if ride.sync_meta.status != 'synced' %}
		 	<button data-hx-post="/pds-sync/update/{{ ride.rkey }}"
        		data-hx-target="closest tr"
        		data-hx-swap="outerHTML"
        		class="button--small">
  			  Sync
			</button>
		{% endif %}

		<button data-hx-delete="/pds-sync/delete/{{ ride.rkey }}"
            data-hx-target="#ride-{{ ride.rkey }}"
            data-hx-swap="outerHTML"
            data-hx-confirm="Delete from PDS?"
            class="button--danger button--small">
          Delete
        </button>

	  </div>
	</td>
  </tr>

#}