
<tr id="post-{{ post.rkey }}" class="pds-row {{ post.sync_meta.class }} htmx-swapping">
	<td>{{ post.rkey }}</td>
	<td>{{ post.createdAt|date("M j, Y") }}</td>
	{% if post.tags[0] %}
		<td>{{ post.tags[0] }}</td>
	{% else %}
		<td>blog-post</td>
	{% endif %}
	{% if post.embed.external.uri %}
		<td>{{ post.embed.external.uri }}</td>
	{% else %}
		<td>{{ post.embed.images[0].alt }}</td>
	{% endif %}
	
	{# Actions Column #} 
	<div class="button-group">
		<td>
			<button data-hx-post="/atproto/dashboard/view/post/{{ post.rkey }}"
				data-hx-target="#pds-overlay-content"
				data-hx-swap="innerHTML"
				hx-on::after-request="document.getElementById('pds-overlay-backdrop').style.display='flex';"
				class="button--small">
				View
			</button>
		</td>
		<td>
			<button data-hx-post="/atproto/dashboard/update/{{ post.rkey }}"
				data-hx-target="closest tr"
				data-hx-swap="outerHTML"
				class="button--small">
				Edit
			</button>
		</td>
		<td>
			<button data-hx-delete="/atproto/dashboard/delete/{{ post.rkey }}"
				data-hx-target="#post-{{ post.rkey }}"
				data-hx-swap="outerHTML"
				data-hx-confirm="Delete from PDS?"
				class="button--danger button--small">
				Delete
			</button>
		</td>
	</div>
</tr>
